<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>{% block title %}{{ config.title }}{% endblock title %}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ get_url(path="print.css", trailing_slash=false) }}" media="print">
  <link rel="stylesheet" href="{{ get_url(path="poole.css", trailing_slash=false) }}">
  <link rel="stylesheet" href="{{ get_url(path="hyde.css", trailing_slash=false) }}">
  <link rel="stylesheet" href="{{ get_url(path="base.css", trailing_slash=false) }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400italic,700|Libre+Baskerville">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  {% if config.generate_rss %}
  <link rel="alternate" type="application/rss+xml" title="RSS"
    href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
  {% endif %}

  {% block extra_head %}
  {% endblock extra_head %}
</head>

<body class="{{ config.extra.hyde_theme }} {% if config.extra.hyde_reverse %}layout-reverse{% endif %}">
  {% block sidebar %}
  <div class="sidebar">
    <div class="container {% if config.extra.hyde_sticky %}sidebar-sticky{% endif %}">
      <div><img class="pp" src="{{ get_url(path="pp.png") }}"></div>
      <div class="sidebar-about">
        {% block sidebar_about %}
        <a href="{{ config.base_url }}">
          <h1>{{ config.title }}</h1>
        </a>
        {% if config.description %}
        <p class="lead">{{config.description}}</p>
        {% endif %}
        {% endblock sidebar_about %}
      </div>

      <ul class="sidebar-nav">
        {% block sidebar_nav %}
        {% for link in config.extra.hyde_nav %}
        <li class="sidebar-nav-item">
          <a href="{{config.base_url}}{{link.url}}">{{link.name}}</a>
        </li>
        {% endfor %}
        {% endblock sidebar_nav %}
      </ul>

      <ul class="sidebar-nav">
        {% block sidebar_social %}
        {% for link in config.extra.hyde_social %}
        <li class="sidebar-nav-item sidebar-social-item">
          <a class="icon fa-stack fa-lg" href="{{link.url}}">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa {{link.icon}} fa-stack-1x fa-inverse"></i>
          </a>
          {% endfor %}
          {% endblock sidebar_nav %}
      </ul>
    </div>
  </div>
  {% endblock sidebar %}

  <div class="content container">

    {% block content %}

    {% endblock content %}
  </div>

  <script src="{{config.base_url | safe }}live2d/L2Dwidget.min.js"></script>

  <script type="text/javascript">

    const display = window.matchMedia("(max-width: 768px)").matches ?
      // window width is at less than 768px
      ({ width: 120, height: 250, vOffset: -60 }) :
      // window width is greater than 768px
      ({ width: 160, height: 310, vOffset: -50 });

    L2Dwidget.init({
      model: { jsonPath: "{{config.base_url | safe }}live2d/models/koharu/koharu.model.json" },
      display
    });
  </script>

</body>

</html>